<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="Setup" value="0" />
    <add key="Language" value="de-DE" />
    <add key="AutoRunPS" value="0" />
    <add key="PSPath" value="" />
    <add key="AutoRunHUD" value="0" />
    <add key="HUDPath" value="" />
    <add key="SourceFolder" value="F:\test\Husky110\" />
    <add key="WorkingDirectory" value="F:\test\PSHandManager\unprocessed\" />
    <add key="OutputDirectory" value="F:\test\PSHandManager\processed\" />
    <add key="StoreHands" value="1" />
    <add key="StorageFolder" value="F:\test\PSHandManager\storage\" />
    <add key="ArchiveUnprocessedHands" value="1" />
    <add key="ArchiveHandsFolder" value="F:\test\PSHandManager\archive\" />
    <add key="AutoStartProcessing" value="0" />
    <add key="FakeplayerName" value="FakePlayer65897969596586754467698546"/>
    <add key="RemoveChatMessages" value="0"/>
  </appSettings>
</configuration>
