<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <appSettings>
      <add key="Setup" value="1"/>
      <add key="Language" value=""/>
      <add key="AutoRunPS" value="0"/>
      <add key="PSPath" value=""/>
      <add key="AutoRunHUD" value="0"/>
      <add key="HUDPath" value=""/>
      <add key="SourceFolder" value=""/>
      <add key="WorkingDirectory" value=""/>
      <add key="OutputDirectory" value=""/>
      <add key="StoreHands" value="0"/>
      <add key="StorageFolder" value=""/>
      <add key="StorageMode" value="0"/>
      <add key="ArchivePSHandFiles" value=""/>
      <add key="ArchiveHandsFolder" value=""/>
      <add key="AutoStartProcessing" value="0"/>
    </appSettings>
</configuration>
